@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-dark;
  }
}

@layer utilities {
  .bg-background {
    background-color: #FDFBF7;
  }
  .bg-dark {
    background-color: #1A1A1A;
  }
  .text-gold {
    color: #C8A97E;
  }
  .bg-gold {
    background-color: #C8A97E;
  }
  .bg-goldDark {
    background-color: #B8965E;
  }
  .bg-accent {
    background-color: #2C4C3B;
  }
}